{%  extends "myapp/base.html" %}
{% block title %}สอบถามข้อมูล{% endblock title %}


{% block content %}

    <h2>สอบถามข้อมูล</h2>
    {% comment %} ชื่อผู้ติดต่อ {% endcomment %}
    {% comment %} อีเมล์ {% endcomment %}
    {% comment %} หัวข้อ {% endcomment %}
    {% comment %} รายละเอียด {% endcomment %}

    <div class="container text-left"> 
        <form method="POST">
            {% csrf_token %} 

            <div class="form-group">
                <label for="name">ชื่อผู้ติดต่อ</label>
                <input type="text" class="form-control" id="name" name="name">
            </div><br>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div><br>

            <div class="form-group">
                <label for="title">หัวข้อ</label>
                <input type="text" class="form-control" id="title" name="title">
            </div><br>

            <div class="form-group">
                <label for="detail">รายละเอียด</label>
                <textarea class="form-control" rows="5" id="detail" name="detail">
                </textarea>
            </div><br>

            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
{% endblock content %}
  