{%  extends "myapp/base.html" %}
{% block title %}สมัครสมาชิก{% endblock title %}


{% block content %}


<br><br>
    <h2>กรุณาอ่านเงื่อนไขสำหรับ 'ส่วนลดพิเศษ'</h2>

        <p align='left'> กรุณาอ่านเงื่อนไขสำหรับการรับส่วนลดพิเศษ<br><br>
            
            1.คุณต้องเป็นสมาชิกของเวปไซต์เท่านั้น<br>
            2.คุณต้องเป็นสมาชิกอย่างน้อย 20 วัน<br>
            3.ส่วนลดนี้จะใช้ได้ภายใน 90 วัน<br>
        </p>
  

    <div class="container"> 
        <form method="post">
            {% csrf_token %} 

            <div class="form-group">
                <input class="form-check-input" type="checkbox" value="check-True" id="discount" name='discount'>&nbsp; ยอมรับเงื่อนไข
                
              </div><br>

            <button type="submit" class="btn btn-primary">ยืนยันข้อตกลง</button>
        </form>
    </div>


{% endblock content %}
  