<form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="card">
      <div class="row no-gutters">
          <aside class="col-md-6">
          <article class="gallery-wrap"> 
              <div class="img-big-wrap">
                <a href="#"><img src="" style="object-fit: cover; "></a>
              </div> 
          </article> 
          </aside>
          <main class="col-md-6 border-left">
            <article class="content-body text-left" style="padding: 20px;">
            
           <p class="price h4">Name</p> 
            
            <div class="mb-3"> 
        <h2 class="title">Introduction</h2>
<br>
                {% if price_1 %}
                <h2> <strike>ราคาปกติ product.normal_price บาท</strike>  </h2>
                <h2 style="color: red;"> มีส่วนลดให้ เหลือเพียง price1 บาท </h2>
                {% else %}
                <h2> ราคาปกติ normal_price บาท  </h2>
                {% endif %}
            </div> 

            <div class="container border border-dark p-3 my-3">
              <div class="form-group">
                <label for="name">จำนวน unit </label>
                <input type="number" class="form-control" id="count" name="count" value="1" style="width: 100px;" required>
              </div>
              
              #ID buyer price, Name buyer price
              <input type="hidden" id="" name="" value="0"> 

              #ID shipping cost Name shipping cost
              <input type="hidden" id="" name="" value="0">   


              #ID product total
              <h5>ค่าสินค้า: <span id="product_total"></span> บาท</h5>

              #ID shipping total 
              <h5>ค่าจัดส่ง: <span id=""></span> บาท</h5>

             #ID all total  
              <h3>ยอดรวมทั้งหมด: <span id="" style="color: green;"></span> บาท</h3>
            </div>
            <hr>
            </article>
          </main> 
      </div>  
  </div> 


  <div class="py-5 text-left">
    <p class="lead">{{ product.detail | safe }}</p>
  </div>

  <div class="row g-5 text-left">
    <div class="col-md-5 col-lg-4 order-md-last">
    
            <div class="">
                <h5>วิธีการชำระเงิน</h5>
                    
                        <div class="container border p-3 rounded mt-2">
                            <h6>โอนผ่าน Promptpay</h6>
                        </div>
                        <div class="container border p-3 rounded mt-2">
                            <h6>Scan QR Code ผ่าน app ธนาคาร</h6>
                            <div class="qr-code img-responsive">
                                <img src="https://promptpay.io/0105565133253/{{product.price1}}" id="qrcode_frame" frameborder="0" width="auto" height="auto"/>
                            </div>
                        </div>
                
                        <div class="container border p-3 rounded mt-2">
                            <h6>โอนผ่าน Promptpay</h6>
                        </div>
                        <div class="container border p-3 rounded mt-2">
                            <h6>Scan QR Code ผ่าน app ธนาคาร</h6>
                            <div class="qr-code img-responsive">
                                <img src="https://promptpay.io/0105561008411/{{product.price1}}" id="qrcode_frame" frameborder="0" width="auto" height="auto"/>
                            </div>
                        </div>
                
            </div>
        
    </div>


    <div class="col-md-7 col-lg-8">
      <h1 class="mb-3">ที่อยู่จัดส่ง</h1>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="" class="form-label">ชื่อ</label>
            <input type="text" class="form-control" id="" name="" placeholder="ชื่อจริง" value="" required>
            <div class="invalid-feedback">กรอกข้อมูลแล้ว</div>
            <div class="invalid-feedback">จำเป็นต้องกรอก</div>
          </div>
          
          <div class="col-sm-6">
            <label for="" class="form-label">นามสกุล</label>
            <input type="text" class="form-control" id="" name="" placeholder="นามสกุล" value="" required>
            <div class="invalid-feedback">กรอกข้อมูลแล้ว</div>
          </div>

          <div class="col-12">
            <label for="" class="form-label">เบอร์โทรศัพท์ <span class="text-body-secondary">(Optional)</span></label>
            <input type="" class="form-control" id="" name="" placeholder="เบอร์โทรศัพท์">
            <div class="invalid-feedback"> กรอกข้อมูลแล้ว</div>
          </div>

          <div class="col-12">
            <label for="" class="form-label">อิเมล์ <span class="text-body-secondary">(Optional)</span></label>
            <input type="" class="form-control" id="" name="" placeholder="ที่อยู่อิเมล์">
            <div class="invalid-feedback">กรอกข้อมูลแล้ว</div>
          </div>


          <div class="col-12">
            <label for="" class="form-label">ที่อยู่</label>
            <input type="text" class="form-control" id="" name="" placeholder="ที่อยู่" required>
            <div class="invalid-feedback">กรอกข้อมูลแล้ว</div>
          </div>

              <div class="form-group">
                <div class="container border border-dark p-3">
                    <p>รายละเอียดบัญชีที่โอน</p>
                    <hr>
                    <label for="">อัพโหลดสลิป</label>
                    <input type="file" class="form-control" id="" name="" accept="image/*" required>
                    <div class="valid-feedback">อัพโหลดแล้ว</div>
                    <div class="invalid-feedback">จำเป็นต้องอัพโหลด</div>
                </div>
          </div>
        </div>

        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg" type="submit">สั่งซื้อ</button>
    
    </div>
  </div>
</form>
<div style="padding-top: 100px;"></div>
<script>
var productprice = parseFloat('{{ product_price }}')
var shippingcost = parseFloat('{{ product.shipping_cost }}')

function onChange(e){
  if (e.target.value <= 0){
    e.target.value = 1
  }else {
    settotal(e.target.value)
  }

}

function onImgPrev(){
  var cover = document.geementById('cover-img')
  cover.scrollLeft -= 160
}

function onImgNext(){
  var cover = document.geementById('cover-img')
  cover.scrollLeft += 160
}

function onImgSelect(e){
  document.getElementById('img-main').src = e.target.src;

  [...$('.img-select')].forEach((elem) => {
    elem.style.opacity = 1
  })

  e.target.style.opacity = 0.5

}

function settotal(count){
  var product_total = productprice * count;
  document.getElementById('product_total').innerText = product_total;
  document.getElementById('buyer_price').value = product_total;

  var shipping_total = shippingcost * count;
  document.getElementById('shipping_total').innerText = shipping_total;
  document.getElementById('shipping_cost').value = shipping_total;

  var all_total = product_total + shipping_total;
  document.getElementById('all_total').innerText = all_total;
}

function run(){
  $('#count')[0].addEventListener('change', onChange)
  settotal(1);

  [...$('.img-select')].forEach((elem) => {
    elem.addEventListener('click', onImgSelect)
  })

  $('#btn-prev')[0].addEventListener('click', onImgPrev)
  $('#btn-next')[0].addEventListener('mousedown', onImgNext)
}

run()
</script>
